
input[type="text"], input[type="number"], select {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.2rem;
}

input:hover {
    border: 1px solid #f88;
    background-color: #fcc;
}

fieldset {
    margin: 0;
    padding: 0.2rem;
    border: 1px solid #ccc;
}

form > div {
    margin-bottom: 1rem;
}