
<div class="listacala">
    <div class="lista">
        <table>
            <caption>Lista zapisanych {{a}}</caption>
            <tr>
                <th>Id</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Operacje</th>
            </tr>
            <tr *ngFor="let osoba of osoby">
                <td>{{osoba.id}}</td>
                <td>{{osoba.imie}}</td>
                <td>{{osoba.nazwisko}}</td>
                <td><a [routerLink]="['/lista','detale', osoba.id]">Detale</a></td>
            </tr>
        </table>
    </div>
    <div class="detale">
        <router-outlet></router-outlet>
    </div>
</div>