
<div class="listacala">
    <div class="lista">
        <table>
            <caption>Lista zapisanych</caption>
            <tr>
                <th>Id</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Operacje</th>
            </tr>
            <tr *ngFor="let osoba of osoby">
                <td>{{osoba.id}}</td>
                <td>{{osoba.imie}}</td>
                <td>{{osoba.nazwisko}}</td>
                <td>
                    <a [routerLink]="['/lista','detale', osoba.id]">Detale</a>
                    <a [routerLink]="['/usun', osoba.id]">Usuń osobę ({{osoba.id}})</a>
                    <a [routerLink]="['/edytuj', osoba.id]">Edytuj ({{osoba.id}})</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="detale">
        <router-outlet></router-outlet>
    </div>
</div>